/* CSS DIRECTORY
  1. GLOBAL
  2. MEDIA
  3. FORM CONTROLS
  4. TEXT
  5. REACT
*/

/* || GLOBAL */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  line-height: calc(1em + 0.5rem);

  &:not(dialog) {
    margin: 0;
  }
}

/* Enforce button borders on high contrast mode */
@media (forced-colors: active) {
  button {
    border: 1px solid;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  color-scheme: light dark;
}

body {
  -webkit-font-smoothing: antialiased;
}

/* || MEDIA */

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* || FORM CONTROLS */

button,
input,
select,
textarea {
  font: inherit;

  label,
  &:not(textarea) {
    cursor: pointer;
  }
}

/* || TEXT */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* || REACT */

#root {
  isolation: isolate;
}
