@layer reset, base, theme;

@import url('./reset.css') layer(reset);

@layer base {
  @font-face {
    font-family: Inter;
    src: url('../fonts/InterVariable.woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 400 600;
  }

  :root {
    /* Colors */
    --color-base: oklch(1 0 0);
    --color-baseSecondary: oklch(from var(--color-base) calc(l - 0.05) c h);
    --color-content: oklch(0.15 0 0);
    --color-contentSecondary: oklch(
      from var(--color-content) calc(l + 0.25) c h
    );
    --color-border: oklch(from var(--color-content) calc(l + 0.7) c h);
    --color-shadow: oklch(from var(--color-content) l c h / 0.1);
    --color-accent: oklch(0.44 0.12 254);

    /* Border */
    --border: 2px solid var(--color-border);
    --radius: 0.5rem;

    /* Hover */
    --hover: 95%;

    /* Shadow */
    --shadow: 0 0 10px var(--color-shadow);

    /* Spacing */
    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.25rem;
    --space-xl: 1.5rem;
    --space-xxl: 2rem;

    /* Typography */
    --ff: Inter, system-ui, sans-serif;
    --fs-md: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 2rem;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 600;

    --font-primary: var(--fw-regular) var(--fs-md) var(--ff);
    --font-heading: var(--fw-medium) var(--fs-lg) var(--ff);
    --font-logo: var(--fw-bold) var(--fs-xl) var(--ff);

    /* Theme */
    color-scheme: light;
  }

  #root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0 1fr);
    min-height: 100dvh;
    font: var(--font-primary);
    color: var(--color-contentSecondary);
  }

  button {
    display: flex;
    gap: var(--space-sm);
    align-items: center;
    width: fit-content;
    padding: var(--space-xxs) var(--space-xxl);
    margin: 0 auto;
    color: inherit;
    background-color: var(--color-baseSecondary);
    border: var(--border);
    border-radius: var(--radius);

    &:hover {
      filter: brightness(var(--hover));
    }
  }
}

@layer theme {
  @media (prefers-color-scheme: dark) {
    :root {
      --color-base: oklch(0.25 0 0);
      --color-content: oklch(0.9 0 0);
      --color-contentSecondary: oklch(
        from var(--color-content) calc(l - 0.25) c h
      );
      --color-border: oklch(from var(--color-content) calc(l - 0.6) c h);
      --color-shadow: oklch(0.15 0 0 / 0.5);

      --hover: 125%;

      color-scheme: dark;
    }
  }
}
